<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>NSCalendarsUsageDescription</key>
    <string>$(PRODUCT_NAME) accesses upcoming events to .</string>

	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) accesses upcoming events to find .</string>

	<key>NSRemindersUsageDescription</key>
	<string>$(PRODUCT_NAME) access upcoming reminders to find .</string>

	<key>NSLocationUsageDescription</key>
	<string>$(PRODUCT_NAME) accesses upcoming events to find .</string>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME)accesses upcoming events to find .</string>

	<key>NSUserNotificationsUsageDescription</key>
	<string>Send Notifications</string>


	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Gene De Lisa 2023</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleName</key>
	<string>m3ufrob</string>
	<key>CFBundleIdentifier</key>
	<string>com.rockhoppertech.m3ufrob</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>

	<key>NSAppTransportSecurity</key>
	<dict>
	  <!--Include to allow all connections (DANGER)-->
	  <key>NSAllowsArbitraryLoads</key>
	  <true/>
	</dict>

</dict>
</plist>
